<h2>Completed Tasks</h2>
<div class="task-list">
    {{#if tasks}}
        <ul>
            {{#each tasks}}
                <li>{{this.text}}</li>
            {{/each}}
            <br>
            <!-- delete button sent to /delete done route handler -->
            <form action="/deleteDone" method="POST">
            <button  id="deleteButton">
                Delete completed tasks
            </button>
        </form>
        </ul>
    {{else}}
        <p>No tasks have been completed</p>
    {{/if}}
</div>
<!-- script source -->
<script src="/javascripts/confirmDelete.js"></script>